@charset "utf-8";

/*各cssファイルの読み込み
---------------------------------------------------------------------------*/
@import url("keyframes.css");

/*全端末（PC・タブレット・スマホ）共通
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body,#container {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-family: "ヒラギノ丸ゴ Pro",/* "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/	/*フォント種類*/;
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	/*background-image:url(../images/%E8%83%8C%E6%99%AF1.jpg);*/
    background-color: #8EB8FF;
	-webkit-text-size-adjust: none;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {color: #fff;transition: 0.4s;text-decoration: none;}
a:hover {color: #efd8a2;text-decoration: none;}
c {font-family: "HGP行書体" ;font-size:50px; }
/*トップページのメイン画像
---------------------------------------------------------------------------*/
#mainimg {
	position: relative;overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #fff;	/*背景色。閲覧画面により、動画の両サイドのこの色が出ます。*/
}
/*動画上のドット壁紙*/
#mainimg::before {
	content: "";display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image:url(../images/kouho1%E7%9F%B3.jpg) ;/*背景色。0,0,0は黒のことで0.5は色が50%出た状態。背景画像の読み込み。読み込み幅のサイズ。*/
}

/*トップページのSVGロゴアニメーション設定
---------------------------------------------------------------------------*/
#svg-logo {
	fill: transparent;	/*初期の色。透明。*/
	stroke: #fff;		/*フチ取りの色*/
	stroke-width: 4;	/*フチ取りの幅。*/
	width: 40%;			/*画像の幅*/
	height: 30%;		/*画像の高さ*/
	position: absolute;
	left: 30%;			/*左から30%の場所に配置*/
	bottom: 35%;		/*下から35%の場所に配置*/
}

/*動画
---------------------------------------------------------------------------*/
video {
	display: block;
	margin: 0 auto;
	height: 100%;
}

/*動画下に出てくる「↓」画像
---------------------------------------------------------------------------*/
#arrow1 {
	position: absolute;z-index: 1;
	left: 47.5%;
	bottom: 50px;	/*下からの配置場所指定*/
	width: 5%;		/*幅*/
}

/*ヘッダー
---------------------------------------------------------------------------*/
header {
	position: relative;
	margin: 0px 3%;
	height: 100px;	/*ブロックの高さ*/
}
/*ロゴ画像*/
header #logo img {
	width: 250px;		/*画像の幅*/
	position: absolute;
	left: 0px;			/*headerに対して左からの配置指定*/
	bottom: 36px;		/*headerに対して下からの配置指定*/
}

/*facebookやtwitterなどのアイコン
---------------------------------------------------------------------------*/
/*アイコンブロック*/
ul.icon {
	position: absolute;
	right: 0px;		/*headerに対して右からの配置指定*/
	bottom: 33px;	/*headerに対して下からの配置指定*/
}
/*アイコン１個あたりの設定*/
ul.icon li {
	display: inline;	/*横並びにさせる指定*/
}
/*アイコン画像の設定*/
ul.icon img {
	width: 30px;	/*画像の幅*/
	margin: 5px;	/*画像同士の余白*/
}

/*メインメニューのブロック
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar {
	position: relative;z-index: 1;	
	background: #fff;	/*古いブラウザ用*/
	background: rgba(255,255,255,0.95);	/*背景色。255,255,255は白の事で、0.95は色が95%出た状態の事。*/
}
/*メニュー１個あたりの設定*/
#menubar >  li {
	float: left;
    width: 25%; /* グローバルナビ4つの場合 */
    height: 80px;
    line-height: 30px;
    background: #fff;
}
#menubar >  li a {
	display: block;text-decoration: none;
	padding: 10px;	/*メニュー内の余白*/
	background: #fff;	/*背景色*/
	font-size: 20px;		/*文字サイズ*/
	color: #000;	/*文字色*/
	text-align: center;
}
/*１つ目のメニューへの追加指定*/
#menubar li:first-child a {
	border-left: none;	/*左の線を消す。*/
}
/*飾り文字。小文字表記部分。*/
#menubar li a span {
	display: block;
	font-size: 12px;	/*文字サイズ*/
	color: #999;	/*文字色*/
}
/*マウスオン時と、現在表示中(current)用の共通設定*/
#menubar > li a:hover, #menubar li.current a {
	background: #eee;
    color: #000;
}
#menubar > li:hover {
    background: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

/*メニューバーの設定*/
#menubar ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

#menubar ul.menu__third-level {
    visibility: hidden;
    opacity: 0;
}

#menubar ul.menu__fourth-level {
    visibility: hidden;
    opacity: 0;
}

#menubar .menu__second-level li {
    border-top: 1px solid #000;
}

#menubar .menu__third-level li {
    border-top: 1px solid #000;
}

#menubar .menu__second-level li a:hover {
    background: #eee;
}

#menubar .menu__third-level li a:hover {
    background: #eee;
}

#menubar .menu__fourth-level li a:hover {
    background: #eee;
}
#menubar:before,
#menubar:after {
    content: " ";
    display:table;
}

#menubar:after {
    clear: both;
}

#menubar {
    *zoom: 1;
}

#menubar > li.menu__single {
    position: relative;
}

#menubar li.menu__single ul.menu__second-level {
    position: absolute;
    width: 100%;
    background: #eee;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#menubar li.menu__single:hover ul.menu__second-level {
    top: 80px;
    visibility: visible;
    opacity: 1;
}
 

/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*fixmenu設定（メニューが画面上部に到達した際のスタイル）
---------------------------------------------------------------------------*/
/*上部固定メニュー用fixmenu設定*/
body.is-fixed-menu #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;left: 0;
	border-bottom: 1px solid #ccc;	/*下線を追加する*/
}
body.is-fixed-menu #contents {
	margin-top: 85px;	/*「menubar li a」の「height」と「padding-top」を合計した数字にする。数行下の「body.is-fixed #menubar.nav-fix-pos」も同じサイズに。*/
}

/*上の設定の「is-fixed-menu」を「is-fixed」に変更したものをそのまま記入します。fixmenuスクリプトを２つ使う為に必要な設定になります。*/
body.is-fixed #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;left: 0;
	border-bottom: 1px solid #ccc;
}
body.is-fixed #contents {
	margin-top: 85px;
}

/*コンテンツ
---------------------------------------------------------------------------*/
#contents {
	overflow: hidden;margin: 0 auto;
	max-width: 1400px;	/*最大幅。これ以上広がらない。*/
	padding: 40px 3%;	/*上下、左右へのブロック内の余白*/
    
}
/*h2タグ*/
#contents h2 {
	clear: both;
	margin-bottom: 20px;	/*下に空けるスペース*/
	text-align: center;		/*テキストのセンタリング*/
	font-size: 48px;		/*文字サイズ*/
	letter-spacing: 0.1em;	/*文字間隔を少し広くとる指定*/
	line-height: 1.4;		/*行間を少し狭くする。デフォルトは冒頭のbody内にあります。*/
	text-shadow: 2px 2px 0px rgba(0,0,0,0.3);	/*テキストの影。右へ、下へ、広げる幅、0,0,0は黒の事で0.3は色が30%出た状態。*/
}
/*h2タグ内のspanタグ（飾り文字）*/
#contents h2 span {
	display: block;
	font-size: 13px;	/*文字サイズ*/
}
/*h3タグ*/
#contents h3 {
	clear: both;
	margin-bottom: 20px;	/*下に空けるスペース*/
	text-align: center;		/*テキストのセンタリング*/
	border-radius: 100px;	/*角丸の指定*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	padding: 5px 5%;		/*上下、左右への余白*/
}
/*段落タグ*/
#contents p {
	padding: 0px 5% 20px;
}
/*他*/
#contents h2 + p,
#contents h3 + p,
#contents h2 + ul.disc,
#contents h3 + ul.disc {
	margin-top: -10px;
}
#contents section + section {
	padding-top: 40px;
}

/*list（商品メニュー用のブロック）
---------------------------------------------------------------------------*/
/*ボックスの設定*/
#contents .list {
	position: relative;overflow: hidden;
	display: flex;
	align-items: center;
	margin: 0 10px 30px;	/*上、左右、下へのボックスの外側に空けるスペース*/
	background: #fff;		/*背景色*/
	color: #999;			/*文字色*/
}
/*ボックス内のh4（見出し）タグ*/
#contents .list h4 {
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #8bceaf;	/*文字色*/
}
#contents .list h4 a {
	color: #8bceaf;	/*文字色*/
}
/*ボックス内のp（段落）タグ*/
#contents .list p {
	padding: 0;
}
/*ボックス内のfigure画像*/
#contents .list figure {
	float: left;	/*左に回り込み*/
	width: 50%;		/*幅*/
}
/*「class="text"」を指定したブロック。テキストブロック。*/
#contents .list .text {
	float: right;	/*右に回り込み*/
	width: 40%;		/*幅*/
	margin: 5%;		/*外側に取るスペース。これがないと枠ギチギチに文字が表示されます。*/
}

/*メニュー（menu）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#contents .menu {
    display: inline-block;
	margin: 0 10px 30px;	/*上、左右、下へのボックスの外側に空けるスペース*/
	line-height: 1.5;		/*行間をすこし狭く。デフォルトは冒頭のbody内にあります。*/
	font-size: 30px;		/*文字サイズ*/
	text-shadow: 1px 1px #000;	/*テキストの影。右に、下に、色。*/
}
#contents .menu a {
	display: block;text-decoration: none;
	padding: 30px;	/*ボックス内の余白*/
	background: rgba(0,0,0,0.4);	/*背景色。0,0,0は黒のことで0.4は色が40%でた状態のこと。*/
	color: #fff;	/*文字色*/
	border: 15px solid rgba(0,0,0,0.2);	/*枠線の幅、線種、色。*/
}
/*マウスオン時*/
#contents .menu a:hover {
	background: transparent;	/*上で指定したbackgroundを透明にする。つまり、下で読み込んでいる写真が鮮明に出ます。*/
}
/*ボックス内の段落タグ設定*/
#contents .menu p {
	padding: 0px;
}
/*ボックス内の段落タグ内のspanタグ*/
#contents .menu p span {
	display: block;
	font-size: 13px;	/*文字サイズ*/
	letter-spacing: 0.1em;	/*文字間隔をすこしだけ広く*/
}
/*ボックス内の写真(背景画像)の読み込み。ランチ。*/
#contents .lunch {
	background: url(../images/bg_lunch.jpg) no-repeat center center / cover;
}
/*ボックス内の写真(背景画像)の読み込み。コース。*/
#contents .course {
	background: url(../images/bg_course.jpg) no-repeat center center / cover;
}
/*ボックス内の写真(背景画像)の読み込み。テイクアウト。*/
#contents .meat {
	background: url(../images/meat.jpg) no-repeat center center / cover;
}
#contents .noodles {
	background: url(../images/ra-men.jpg) no-repeat center center / cover;
}
#contents .bread {
	background: url(../images/bread.jpg) no-repeat center center / cover;
}
#contents .sweets {
	background: url(../images/sweets.jpg) no-repeat center center / cover;
}
#contents .takeout {
    width: 94.4%;
	background: url(../images/bg_takeout.jpg) no-repeat center center / cover;
}

/*横並びの設定*/
#item-list ul li {
  width: 45%;
}
#item-list ul li:nth-child(2n-1) {
  margin: 0 3%;
}




/*footer（copyrightなどが入った最下部ブロック）
---------------------------------------------------------------------------*/
footer {width: 1263px;
	height: 40px;
	margin-left: 0;
	margin-right: 0;}
.footer-container{padding: 0;border-radius: 10px 10px 0 0;background:#000000;}
.footer-nav{display: flex;justify-content: space-around;}
.footer-nav ul{margin:0;padding:0;list-style:none;font-size:0.8rem;}

/*footer内のulタグ（フッターメニュー）
---------------------------------------------------------------------------*/
footer ul a{
    text-decoration: none;
}
footer ul b{
    text-decoration: none;
    font-size:2.0rem ;
}
footer ul a0 {
	 text-decoration: none;
    margin: 0 0 0 25px;
    font-size:1.1rem ;
}
footer ul a1 {
	 text-decoration: none;
    margin: 0 0 0 25px;
    font-size:1.1rem ;
}
footer ul a2 {
	 text-decoration: none;
    margin: 0 0 0 100px;
    font-size:1.1rem ;
}
footer ul a3 {
	 text-decoration: none;
    margin: 0 0 0 20px;
    font-size:1.1rem ;
}
footer ul a4 {
	 text-decoration: none;
    margin: 0 0 0 20px;
    font-size:1.1rem ;
    display: inline-block;
}

/*「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の指定*/
#new dl {
	padding: 0 5%;
	margin-bottom: 20px;
	height: 200px;	/*高さ*/
	overflow: auto;	/*高さを超えるコンテンツが入った場合にスクロールバーを自動で出す。*/
}
/*左側（日付）*/
#new dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
}
/*右側（テキスト）*/
#new dd {
	padding-left: 9em;
}

/*メニューマーク　option1(おすすめ)と、option2(人気)
---------------------------------------------------------------------------*/
/*共通*/
.option1,.option2 {
	text-align: center;display: block;
	font-size: 10px;	/*文字サイズ*/
	width: 120px;		/*幅*/
	position: absolute;
	right: 0px;	/*ボックスに対して右から0pxの場所に配置*/
	top: 0px;	/*ボックスに対して上から0pxの場所に配置*/
	transform: rotate(45deg) translate(36px,-15px);	/*45度回転。右へ,下へ(マイナス設定なので上へ向けての指定)の移動距離*/
}
/*option1(おすすめ)への追加指定*/
.option1 {
	color: #FFF;		/*文字色*/
	background: #F00;	/*背景色*/
}
/*option2(人気)への追加指定*/
.option2 {
	color: #FFF;		/*文字色*/
	background: #e68200;	/*背景色*/
}

/*メニューマーク　option3(10%OFF〜)の割引アイコン
---------------------------------------------------------------------------*/
.option3 {
	text-align: center;display: block;
	font-size: 10px;	/*文字サイズ*/
	width: 60px;		/*幅*/
	height: 45px;		/*高さ。下のpadding-topの数字と合わせてwidthの値になるように。*/
	padding-top: 15px;	/*上に空ける余白。上のheightの数字と合わせてwidthの値になるように。*/
	line-height: 1.2;	/*行間*/
	border-radius: 50%;	/*角丸の指定。円形になります。*/
	position: absolute;
	left: 5px;	/*ボックスに対して左から5pxの場所に配置*/
	top: 5px;	/*ボックスに対して上から5pxの場所に配置*/
	color: #FFF;		/*文字色*/
	background: #F00;	/*背景色*/
	transform: rotate(-30deg);	/*-30度回転*/
}
/*１行目の文字サイズをすこし大きくする*/
.option3::first-line {
	font-size: 16px;
	font-weight: bold;
}

/*詳細ページの画像ブロック（CMS用）
---------------------------------------------------------------------------*/
#photo {
	position: relative;overflow: hidden;
	text-align: center;
	max-width: 800px;	/*画像の最大幅。これ以上大きくならない設定です。*/
	margin: 0 auto 20px;
}
/*サムネイル画像*/
#photo .thumb {
	width: 70px;
	padding-bottom: 5px;
}

/*テーブル
---------------------------------------------------------------------------*/
/*見出し（caption）*/
.ta1 caption {
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	border-bottom: none;		/*下の線を非表示にする*/
	text-align: left;			/*内容を左寄せ*/
	font-weight: bold;			/*文字を太字に*/
	padding: 10px;				/*余白*/
	background: rgba(255,255,255,0.2);	/*背景色。255,255,255は白の事で0.2は色が20%出た状態の事。*/
}
/*見出し（tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*内容を左寄せ*/
	background: rgba(255,255,255,0.2);	/*背景色。255,255,255は白の事で0.2は色が20%出た状態の事。*/
}
/*テーブルブロック全体の指定*/
.ta1 {
	table-layout: fixed;
	width: 90%;	/*幅*/
	margin: 0 5% 20px;	/*上、左右、下へのテーブルの外側に空けるスペース*/
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	padding: 10px;	/*余白*/
}
/*左側ブロック*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*内容をセンタリング*/
}

/*MENUページのページ内メニュー
---------------------------------------------------------------------------*/
ul.navmenu {
	text-align: center;
	padding: 10px 0px;
	margin-bottom: 15px;
}
ul.navmenu li {
	display: inline;
}
ul.navmenu li a {
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
}
ul.navmenu li.current a {
	color: #efd8a2;
}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
body .nav-fix-pos-pagetop a {display: none;}
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	bottom: 50px;		/*下からの配置場所指定*/
	right: 3%;			/*右からの配置場所指定*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事。0.6は色が60%出た状態。*/
	border-radius: 50%;	/*円形にする指定。この行削除すれば正方形になります。*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	animation-name: opa1;	/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 1S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。*/
}
/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*背景色*/
}

/*checkブロック。赤い注意書きブロックです。
---------------------------------------------------------------------------*/
p.check {
	background: #ff0000;
	color:#fff;
	padding: 10px 25px !important;
	margin-bottom: 20px;
}
p.check a {color: #fff;}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	display: inline-block !important;
	background: #F00;
	color: #FFF;
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {
	list-style: disc;
	padding: 0 5% 20px 8%;
}
ol {
	padding: 0 5% 20px 8%;
}

/*メニューページの「テキストメニュー」設定
---------------------------------------------------------------------------*/
/*ブロック全体*/
dl.text-menu {
	margin: 0px 10px;	/*上下、左右への余白*/
}
/*メニュータイトル*/
dl.text-menu dt {
	 background: #fff;				/*背景色*/
	 color: #8bceaf;				/*文字色*/
	 border-radius: 5px;			/*角丸の指定。この行削除すれば通常の長方形になります。*/
	 padding: 5px 10px;				/*上下、左右への余白*/
	 text-align: center;			/*テキストをセンタリング*/
}
dl.text-menu dd + dt {
	margin-top: 10px;
}
/*メニュー名*/
dl.text-menu dd {
	overflow: hidden;
	margin: 0px 20px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
/*金額*/
dl.text-menu dd .price {
	float: right;	/*右に回り込み*/
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #c3b5a2;background: rgba(0,0,0,0.1);padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb30 {margin-bottom: 30px !important;}
.clear {clear: both;}
.color1, .color1 a {color: #efd8a2 !important;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.fl {float: left;margin-bottom: 20px;}
.fr {float: right;margin-bottom: 20px;}
.w45 {width: 45%;}
.mrl5 {margin-left:5%;margin-right:5%;}
.big1 {font-size: 30px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.link {display: block;margin-top: -100px;padding-top: 100px;}
.clearfix::after {content: "";display: block;clear: both;}
.half {width: 50%;float: left;}
.ofh {overflow: hidden;}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*トップページのmainimgブロック（動画を配置しているブロック）
---------------------------------------------------------------------------*/
#arrow1 {
	left: 45%;
	width: 10%;
}

/*ヘッダー（ロゴ画像が入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ブロック*/
header {
	position: static;
	margin: 0;
	height: auto;
	background: #000;	/*背景色*/
	padding: 10px 3%;	/*上下、左右への余白*/
    text-decoration: none;
    
}
/*ロゴ画像*/
header #logo img {
    text-decoration:none;
	position: static;
	width: 220px;	/*画像の幅*/
	margin-bottom: 10px;	/*下に空ける余白*/
}

/*facebookやtwitterなどのアイコン
---------------------------------------------------------------------------*/
/*アイコンブロック*/
ul.icon {
	position: static;
	text-align: center;	/*中央に配置*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: auto;height: 100%;z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	animation-name: opa1;		/*keyframes.cssで使う@keyframesの指定*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 10px;	/*メニュー内の余白*/
	border-bottom: 1px solid #ccc;	/*下の線の幅、線種、色*/
	background: rgba(0,0,0,0.8);	/*背景色*/
	font-size: 20px;		/*文字サイズ*/
	color: #fff;	/*文字色*/
	text-align: center;
}
/*英語表記（飾り文字）*/
#menubar-s li a span {
	display: block;
	font-size: 12px;	/*文字サイズ*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;position: fixed;z-index: 11;
	top: 0px;	/*上からの配置場所指定*/
	right: 3%;	/*右からの配置場所指定*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: url(../images/icon_menu.png) no-repeat center top/50px;	/*アイコンの読み込み、上半分(top)を表示、幅50px*/
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: url(../images/icon_menu.png) no-repeat center bottom/50px;	/*アイコンの読み込み、上半分(bottom)を表示、幅50px*/
}

/*fixmenu。メインメニューが画面上部に到達した際の設定
---------------------------------------------------------------------------*/
body.is-fixed-menu #contents {
	margin-top: 0px;	/*fixmenuから折りたたみメニューになるので、ここはリセット。*/
}

/*ヘッダーメニューが固定されなくなるので、再設定。
---------------------------------------------------------------------------*/
.link {
	margin-top: -30px;
	padding-top: 30px;
}

/*その他
---------------------------------------------------------------------------*/
.big1 {font-size: 20px;}
.sh {display:block;}
.pc {display:none;}

}




/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;
	font-size: 2.93vw;
}

/*contents（headerとfooter以外の中央コンテンツ）
---------------------------------------------------------------------------*/
/*h2タグ*/
#contents h2 {
	font-size: 24px;
	letter-spacing: normal;
}
/*h3タグ*/
#contents h3 {
	font-size: 16px;
}

/*list（商品メニュー用のブロック）
---------------------------------------------------------------------------*/
/*ボックスの設定*/
#contents .list {
	display: block;
	padding: 20px;
}
/*ボックス内のh4（見出し）タグ*/
#contents .list h4 {
	font-size: 18px;
	margin-bottom: 0px;
}
/*ボックス内のfigure画像*/
#contents .list figure {
	float: none;
	width: auto;
	margin-bottom: 10px;
}
/*「class="text"」を指定したブロック。テキストブロック。*/
#contents .list .text {
	float: none;
	width: auto;
	margin: 0;
}

/*メニューマーク　option11(10%OFF)〜の割引アイコン
---------------------------------------------------------------------------*/
.option11,.option12,.option13 {
	width: 40px;		/*幅*/
	height: 33px;		/*高さ。下のpadding-topの数字と合わせてwidthの値になるように。*/
	padding-top: 7px;	/*上に空ける余白。上のheightの数字と合わせてwidthの値になるように。*/
}
/*１行目の文字サイズをすこし大きくする*/
.option11::first-line,.option12::first-line,.option13::first-line {
	font-size: 12px;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption, .ta1 .tamidashi {
	padding: 5px;
}
/*テーブル内の左側*/
.ta1 th {
	width: 100px;
	padding: 5px;
}
/*テーブル内の右側*/
.ta1 td {
	width: auto;
	padding: 5px;
}

/*メニューページの「テキストメニュー」設定
---------------------------------------------------------------------------*/
/*ブロック全体*/
dl.text-menu {
	margin: 5px;
}
/*メニュー名*/
dl.text-menu dd {
	margin: 0px 10px;
}

/*MENUページのページ内メニュー
---------------------------------------------------------------------------*/
ul.navmenu {
	padding: 0px;
	text-align: left;
	font-size: 14px;
}
ul.navmenu li a {
	display: block;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.fl {float: none;}
img.fl {float: none;display: block;width:90%;margin: 0 auto 20px;}
.fr {float: none;}
img.fr {float: none;display: block;width:90%;margin: 0 auto 20px;}
.big1 {font-size: 16px;}

}

/*スライドショーの設定*/
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*画像の出方*/ 
@keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
/*画像の位置と出ている時間*/
.slide img {
  position: absolute;
  top:25%;
  left: 25%;
  transform: translate(-25%, -25%);
  width: 100%;
  height: 100%;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}
 
.slide img:nth-child(2){
  animation-delay: 8s;
}
 
.slide img:last-child{
  animation-delay: 16s;
}